<!DOCTYPE html>
<!-- saved from url=(0054)http://test.boss.qipeipu.net/bs/stockRecord/find/index -->
<html lang="zh-CN" class="ks-webkit537 ks-webkit ks-chrome41 ks-chrome">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="/css/table_list.css">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <link type="text/css" rel="stylesheet" href="/css/dpl-min.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="/css/register.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-cont">
    <ul class="tab_change cf ">
        <li class="welcome"><label><%= admin.name %></label>,您好</li>
        <a href="/add" class="btn btn-info">添加新管理员</a>
        <span class="setUserInfo"><a href="/logout">注销登录</a></span>
    </ul>
    <form name="supplyForm" method="post" action="" id="supplyForm">
        <div class="select-wrap  mt20">
            <span>当前的全部用户有<a href="/adminindex/0" class="red"><%= admin.allcredit %></a>位</span>
            <span>未审核用户有<a href="/adminindex/1" class="red"><%= admin.prenum %></a>位</span>
            <span>已审核用户有<a href="/adminindex/2" class="red"><%= admin.afternum %></a>位</span>
        </div>

        <div class="tc"><div class="to_drop"></div></div>

        <div class="ora_div">
            <!-- <div class="cf"><span class="remind orange_text">有两个商品提醒上架</span></div> -->
            <ul class="title_ul cf">
                <li class="list-wid25">银行账号</li>
                <li class="list-wid18">登陆账号</li>
                <li class="list-wid21">申请用户的信息</li>
                <li class="list-wid18">申请时间</li>
                <li class="list-wid18">操作</li>
            </ul>
            <div class="ora_con cf">
                <!-- ora_list -->
                <% if(accounts.length) { %>
                <% accounts.forEach(function(account) { %>
                <div class="ora_list cf">
                    <div class="list_con">
                        <span class="list-wid25"><b class="repair_label"><%=account.creditnum %></b></span>
                        <span class="list-wid18"><b class="repair_label"><%=account.username %></b></span>
                        <span class="list-wid21 mt10"><b class="repair_label"><%=account.name %></b><b class="repair-tel"><%=account.tel %></b></span>
                        <span class="list-wid18 mt10"><b class="repair_label"><%=account.time %></b><b class="repair-time"><%=account.hour %></b></span>
                        <input type="hidden" class="ID_no" value="<%=account.ID_no %>">
                        <% if(account.sex == 0){ %>
                            <input type="hidden" class="sex" value="男">
                        <% }else if(account.sex == 1){ %>
                            <input type="hidden" class="sex" value="女">
                        <% } %>
                        <input type="hidden" class="addr" value="<%=account.addr %>">
                        <input type="hidden" class="id" value="<%=account.id%>">
                        <input type="hidden" class="creditnum" value="<%=account.creditnum%>">
                        <input type="hidden" class="username" value="<%=account.username%>">
                        <input type="hidden" class="name" value="<%=account.name%>">
                        <input type="hidden" class="tel" value="<%=account.tel%>">
                        <input type="hidden" class="time" value="<%=account.time%>">
                        <input type="hidden" class="hour" value="<%=account.hour%>">
                        <input type="hidden" class="limit" value="<%=account.limit%>">
                        <% if(account.limit == 0){ %>
                        <span class="list-wid18"><a href="javascript:;" class="orange_text find_modify repair_label usercheck">审核</a></span>
                        <% }else if(account.limit == 1){%>
                        <span class="list-wid18"><a href="javascript:;" class="orange_text find_modify repair_label userlook">查看</a></span>
                        <% }else if(account.limit == 2){%>
                        <span class="list-wid18"><a href="javascript:;" class="orange_text find_modify repair_label userlookno">查看</a></span>
                        <% } %>

                    </div>
                </div>
                <% }) %>
                <% }else{ %>
                <div class="ora_list cf">
                   <div class="list_con">
                        <span><b class="repair_label">没有账户信息~</b></span>
                   </div>
                </div>
                <% } %>
            </div>
            <div class="pager" id="page"><ul class="pagination" style="float:right;"><li class="disabled"><a href="javascript:void(0);">每页显示10条/共9页</a></li><li><a href="javascript:void(0);" onclick="javascript:void(0)">&lt;&lt;首页</a></li><li><a href="javascript:void(0);" onclick="javascript:void(0)">上一页</a></li><li class="active"><a href="javascript:void(0);" onclick="javascript:void(0)">1</a></li><li class=""><a href="javascript:void(0);" onclick="goPage(1)">2</a></li><li><a href="javascript:void(0);">...</a></li><li><a href="javascript:void(0);" onclick="goPage(8)">9</a></li><li><a href="javascript:void(0);" onclick="goPage(1)">下一页</a></li><li><a href="javascript:void(0);" onclick="goPage(8)">尾页&gt;&gt;</a></li><li class="gopage"><input type="text" id="toCurPage" value="1"><a href="javascript:void(0);" onclick="goToCur(9);">go</a></li></ul></div>

        </div>
    </form>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/artDialog4_jb51net/jquery.artDialog.js"></script>
    <script type="text/javascript" src="/js/artDialog4_jb51net/jquery.artDialog.js?skin=default"></script>
    <script type="text/javascript" src="/js/index.js"></script>

</div>
<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>